@font-face {
  font-family: sfprodisplay;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: sfprodisplay;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/public/fonts/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
  font-family: sfprodisplay;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/public/fonts/SFPRODISPLAYBOLD.OTF");
}

